#head1{
    text-align: center;
}

.mytext{
    color: white;
    font-size: 20px;
    text-align: center;
}

.mybox{
    margin: auto;
    width: 50%;
    padding: 10px;
    background-color: black;
    border: 10px solid blue;
    border-radius: 20px;
}