body {
    margin: 0;
}

#header {
    text-align: center;
    margin: auto;
}

.flexgrid {
    margin: 0px auto 10px;
    background-color: black;
    border: 10px solid blue;
    width: 400px;
    height: 400px;
}

.elements {
    color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    
}

.ele {
    list-style: none;
    border: 2px solid red;
    width: 25%;
    height: 25%;
    text-align: center;
    align-content: center;
}

@media (max-width: 600px) {
    .flexgrid {
        width: 200px;
        height: 200px;
    }
}
@media (max-width: 250px) {
    .flexgrid {
        width: 100px;
        height: 100px;
    }
}