body{
    margin: 0;
}
#head1{
    text-align: center;
}
.navbar{
    margin: 0px auto 10px;
    background-color: black;
    border: 10px solid blue;
}
.elements{
    display: flex;
    justify-content: center;
    color: white;
}
.ele{
    list-style: none;
    margin-right: 10px;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: white;
}
a:visited{
    color: white;
}
a:hover{
    color: white;
}
a:active{
    color: white;
}